
<%= form_for(@blog) do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <% @blog.errors.full_messages_for(:title).each do |message| %>
      <div><p class="text-danger"><%= message %></p></div>
    <% end %>
    <%= f.text_field :title, placeholder: 'Type the Blog title here', class:'form-control' %><br>
  </div>

  <div class="actions">
    <%= f.submit "Apply", class: "btn btn-primary btn-block" %>
  </div>
<% end %>