
<%= link_to blogs_path, class: "btn btn-secondary mb-3 mt-3" do %>
  <i class='fas fa-arrow-left'></i>
<% end %>
<% if current_user == @blog.user %>
  <%= link_to edit_blog_path(@blog), class: "btn btn-primary mb-3 mt-3 float-right" do %>
    <i class='fas fa-edit'></i>
  <% end %>
  <%= link_to  @blog, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-3 mt-3 mr-2 float-right" do %>
    <i class='fas fa-trash'></i>
  <% end %>
<% end %>

<div class = "body-blog">
  <div class="homepagelay">
    <div class = "blog-info">
      <h1>Witaj na blogu <%= @blog.title %></h1>
      <p>Aby przejść do postów kliknij w przycisk.</p>
    </div>
    <div class = "blog-link">
      <%= link_to 'POSTS', blog_posts_path(@blog), class: 'btn' %>
    </div>
  </div>
</div>
